# Ignore everything.
*

##############
# HOME STUFF #
##############

!LICENSE.md
!README.md

!.git*
!.[xX]*

!packages-foreign.txt
!packages-native.txt

###########
# CONFIGS #
###########

!.etc/
!.etc/**

!.config/
!.config/**

.config/dconf
.config/keepassxc
.config/libfm
.config/pcmanfm
.config/pulse

.config/micro/backups
.config/micro/buffers

.config/gtk-*
.config/[qQ]t*

history.txt
pavucontrol.ini

##############
# WALLPAPERS #
##############

!.papes/
!.papes/**

current.*

###########
# SCRIPTS #
###########

!.scripts/
!.scripts/**
