*

!LICENSE.md
!README.md

!.[xX]*
!.git*

!packages-foreign.txt
!packages-native.txt

!.papes/
!.papes/**

current.*

!.config/
!.config/**

.config/micro/backups
.config/micro/buffers
.config/dconf
.config/keepassxc
.config/libfm
.config/pcmanfm
.config/pulse

history.txt
pavucontrol.ini
Qt*
