# Ignore everything.
*

!LICENSE.md
!README.md

!.git*
!.[xX]*

!packages-foreign.txt
!packages-native.txt

!.etc/
!.etc/**

!.config/
!.config/**

.config/dconf
.config/keepassxc
.config/libfm
.config/pcmanfm
.config/pulse

.config/gtk-*
.config/[qQ]t*

.config/**/history.txt
.config/**/pavucontrol.ini
.config/**/mimeapps.list

!.papes/
!.papes/**

current.*

!.scripts/
!.scripts/**
