[user]
    username = keruruh
    name = Kerman Huici
    email = huicikerman@gmail.com

[core]
    editor = nvim
    whitespace = trailing-space,indent-with-non-tab,cr-at-eol

[init]
    defaultBranch = master
