configuration {
    modes: "window,drun,ssh";
    terminal: "kitty";
    show-icons: true;
    icon-theme: "Papirus";

    timeout {
        action: "kb-cancel";
        delay: 0;
    }
}

@import "~/.cache/hellwal/rofi.rasi"
