"$schema" = "https://starship.rs/config-schema.json"

[character]
success_symbol = "[>](bold green)"
error_symbol = "[x](bold red)"

vimcmd_symbol = "[<](bold green)"
vimcmd_visual_symbol = "[<](bold yellow)"
vimcmd_replace_symbol = "[<](bold purple)"
vimcmd_replace_one_symbol = "[<](bold purple)"

[username]
show_always = true

[directory]
truncation_length = 0
